{%extends "base.html"%}

{%block title%}
 Pokeapi
{%endblock%}

{%block content%}
{%include "includes/nav.html"%}
<div class="flex-container">

</div>
  {% for gym in gyms %}
  <div class="card" style="width: 18rem;">
    <img src="{{gym.photo_reference}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-name">{{gym.name}}</h5>
      <p class="card-text">Gym Info</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{gym.address}}</li>
        <li class="list-group-item">{{gym.hours}}</li>
        <li class="list-group-item">{{gym.phone}}</li>
      </ul>
      <a href="{{url_for('main.remove_gym', name=gym.name)}}" class="btn btn-primary">Remove Gym</a>
    </div>
  </div>

  {%endfor%}

{%endblock%}