{%extends "base.html"%}

{%block title%}
  Workouts
{%endblock%}

{%block content%}
{%include "includes/nav.html"%}
<div class="flex-container">

</div>
  {% if workout %}
  {% for workout in workouts %}
  <div class="card" style="width: 18rem;">
    <img src="../static/styles/images/the-rock.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-text">Workout Info</h4>
      <h7 class="card-name">{{work}}</h7>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">{{workout.name}}</li> -->
        {%for part in workout[work]%}
        <li class="list-group-item">{{part}}</li>
        {%endfor%}
        <!-- <li class="list-group-item">{{workout.instructions}}</li> -->
      </ul>
      <a href="{{url_for('main.remove_workout', id=workout.id)}}" class="btn btn-primary">Remove Workout</a>
    </div>
  </div>
  {%endfor%}
  {%endif%}

{%endblock%}